extends ../layout

block content
    h1.
        Instrument ID #{instrument._id}
    form(action='/instruments/#{instrument._id}/edit', method='post', name='updateInstrument', enctype='application/x-www-form-urlencoded')
        p Make:
            input#inputMake(type='text', value='#{instrument.make}', name='make')
        p Model:
            input#inputModel(type='text', value='#{instrument.model}', name='model')
        p Year:
            input#inputYear(type='integer' value='#{instrument.year}', name='year')
        p Price:
            input#inputPrice(type='integer' value='#{instrument.price}', name='price')
        p
            input(type='hidden', value='PUT', name='_method')
        p
            button#btnSubmit(type='submit').
                Update