extends ../layout

block content
    h1.
        ID: #{instrument._id}
    p Make: #{instrument.make}
    p Model: #{instrument.model}
    p Year: #{instrument.year}
    p Price: #{instrument.price}
    p
        a(href="/instruments/#{instrument._id}/edit") Edit